
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navLinks a {
    text-decoration: none;
    color: #333;
}

.navIcons .icon {
    font-size: 1.5rem;
    margin-left: 1rem;
}


/* Productos */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .seccion {
    margin-bottom: 4rem;
    text-align: center;
  }
  
  .categoria {
    font-size: 2rem;
    color: #002451;
    margin-bottom: 0.5rem;
  }
  
  .descripcion {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
  }
  
  .imagen {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .nombre {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .precio {
    font-size: 1.5rem;
    color: #4caf50;
  }
  